.delete {
    margin: 0 auto;
    max-width: 1230px;
    text-align: center;
    color: #7c6b5d;
}

.delete__inner a {   
    padding: 3px 20px;
    border: 1px solid #d9c6b5;
    color: #d9c6b5;
    text-decoration: none;
    font-size: 14px;
    background: #f4f4f4;
}