.contact-form__content {
    max-width: 1230px;
    margin: 40px auto;
    padding: 30px 15px;
}

.contact-form__heading {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 30px;
    color: #7c6b5d;
    font-size: 24px;
    font-family: "Playfair Display", serif;
}

.contact-form__heading h2 {
    margin: 0;
}

/* フォーム */
.form {
    margin: 0 auto;
    width: 100%;
}

.form__group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.form__group-title label {
    display: block;
    margin-bottom: 8px;
    color: #7c6b5d;
}

.form__group-title span {
    color: red;
}

.form__group-content {
    width: 800px;
}

/* input共通(性別以外) */
.form__input--text input,
.form__input--tell input,
.form__input--kinds select,
.form__input--textarea textarea {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ddd;
    background: #f9f9f9;
    color: #7c6b5d;
    appearance: none;
}

.form__input-item {
    width: 100%;
}

/* 高さ */
.form__input--text input,
.form__input--tell input,
.form__input--radio input,
.form__input--kinds select {
    height: 40px;
}

.form__input--textarea textarea {
    height: 180px;
}

/* 横並び */
.form__input--text {
    display: flex;
    gap: 60px;
}

.form__input--tell {
    display: flex;
    gap: 20px;
}

/* 性別　*/
.form__input--radio {
    display: flex;
    gap: 120px;
    align-items: center;
}

.form__radio {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #7c6b5d;
}

.form__radio input:checked {
    background: #7c6b5d;
} 

.form__radio input {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #7c6b5d;
    border-radius: 50%;
    position: relative;
}

/* 電話番号 */
.form__input--tell {
    align-items: center;
}

.form__input--tell input {
    text-align: center;
    width: 100%;
}

.form__input--tell span {
    margin-bottom: 10px;
}

/* 種類 */
.form__input--kinds {
    position: relative;
}

.form__input--kinds::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-25%);
    border: 10px solid transparent;
    border-top: 10px solid #7c6b5d;
    pointer-events: none;
}

/* ボタン */
.form__button {
    margin-top: 30px;
}

.form__button-submit {
    display: block;
    width: 200px;
    margin: 30px auto 0;
    padding: 10px;
    background-color: #7c6b5d;
    color: #fff;
    border: none;
    cursor: pointer;
}

/* エラーMSG */
.form__error {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}

.form__error--name,
.form__error--tel {
    display: flex;
    gap: 60px;
}

.form__error--name p,
.form__error--tel p {
    width: 100%;
    margin: 0;
}

.form__input-item .form__error {
    margin-top: 8px;
}

.form__error p {
    margin: 0;
}